@import "style";

::ng-deep app-details {
    flex-grow: 1;

    .chart {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1.5rem;

        @include small-screen {
            width: auto;
            grid-template-columns: repeat(2, minmax(250px, 1fr));
        }
    }
}